<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KunBan</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/index.js"></script>
    <script>
        var pageNum = 1;
        var pageSize = 12;
        var rowCou = 0;
        var typeChooser = 'All';
        var radioChooser = 'pure_rank';
    </script>
</head>
<body>
    <div style="background-color: #00b4ef; padding-top: 10px; padding-bottom: 5px">
        <div class="container" align="center">
            <h1 class="text-left" style="color: #fff; font-size: 36px"><strong>KunBan Movies</strong></h1>
            <button id="log_out" class="btn btn-link" style="float: right; color: #ffff" onclick="window.location.href='/logout'">Logout</button>
            <label th:text="${session.user}" style="float: right; color: #ffff"></label>
        </div>
    </div>
    <div class="container" align="center">
        <h2 class="text-left"><strong>Choose movies</strong></h2>
        <div id="types" class="btn-group pull-left">
            <button id="All" type="button" class="btn btn-primary rank">All</button>
            <button id="Film-Noir" type="button" class="btn btn-link rank">Film-Noir</button>
            <button id="Action" type="button" class="btn btn-link rank">Action</button>
            <button id="Adventure" type="button" class="btn btn-link rank">Adventure</button>
            <button id="Horror" type="button" class="btn btn-link rank">Horror</button>
            <button id="Romance" type="button" class="btn btn-link rank">Romance</button>
            <button id="War" type="button" class="btn btn-link rank">War</button>
            <button id="Western" type="button" class="btn btn-link rank">Western</button>
            <button id="Documentary" type="button" class="btn btn-link rank">Documentary</button>
            <button id="Sci-Fi" type="button" class="btn btn-link rank">Sci-Fi</button>
            <button id="Drama" type="button" class="btn btn-link rank">Drama</button>
            <button id="Thriller" type="button" class="btn btn-link rank">Thriller</button>
            <button id="Crime" type="button" class="btn btn-link rank">Crime</button>
            <button id="Fantasy" type="button" class="btn btn-link rank">Fantasy</button>
            <button id="Animation" type="button" class="btn btn-link rank">Animation</button>
            <button id="IMAX" type="button" class="btn btn-link rank">IMAX</button>
            <button id="Comedy" type="button" class="btn btn-link rank">Comedy</button>
            <button id="Mystery" type="button" class="btn btn-link rank">Mystery</button>
            <button id="Children" type="button" class="btn btn-link rank">Children</button>
            <button id="Musical" type="button" class="btn btn-link rank">Musical</button>
            <button id="Others" type="button" class="btn btn-link rank">Others</button>
        </div>
        <div class="row">
            <hr class="col-md-12"/>
        </div>
        <div class="row" style="padding-bottom: 20px">
            <div class="pull-left">
                <div class="btn-group">
                    <label class="radio-inline" style="padding-left: 3em">
                        <input class="rank" type="radio" name="options" id="pure_rank" checked />
                        pure rank
                    </label>
                    <label class="radio-inline">
                        <input class="rank" type="radio" name="options" id="time_rank" />
                        rank by time
                    </label>
                    <label class="radio-inline">
                        <input class="rank" type="radio" name="options" id="eval_rank" />
                        rank by evaluation
                    </label>
                </div>
            </div>
            <div class="pull-right">
                <label class="checkbox-inline" style="padding-right: 1em">
                    <input type="checkbox" />
                    not yet watched
                </label>
            </div>
        </div>
        <div id="pages">
            <!--<div id="row1" class="row">-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="row2" class="row">-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<a href="#">-->
                        <!--<img src="/img/movies_pic/318.webp" class="img-thumbnail"/>-->
                        <!--<p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row" style="margin-bottom: 50px; margin-top: 30px">
            <a id="more" class="btn btn-link col-md-12">
                more
            </a>
        </div>
        <div class="row">
            <div style="border-top: 1px dashed #ddd; color: #999; padding: 6px 0; overflow: hidden">
                <span style="float: left">© 2005－2018 kunban.com, all rights reserved 阿香煎饼果子有限摊</span>
            </div>
        </div>
    </div>
</body>
</html>