<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
        var pageNum = 1;
        var pageSize = 12;
        var rowCou = 0;
    </script>
</head>
<body>
    <div style="background-color: #f0f3f5; padding-top: 10px; padding-bottom: 5px">
        <div class="container" align="center">
            <h1 class="text-left" style="color: #27a"><strong>KunBan Movies</strong></h1>
        </div>
    </div>
    <div class="container" align="center">
        <h2 class="text-left"><strong>Choose movies</strong></h2>
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-link">Film-Noir</button>
            <button type="button" class="btn btn-link">Action</button>
            <button type="button" class="btn btn-link">Adventure</button>
            <button type="button" class="btn btn-link">Horror</button>
            <button type="button" class="btn btn-link">Romance</button>
            <button type="button" class="btn btn-link">War</button>
            <button type="button" class="btn btn-link">Western</button>
            <button type="button" class="btn btn-link">Documentary</button>
            <button type="button" class="btn btn-link">Sci-Fi</button>
            <button type="button" class="btn btn-link">Drama</button>
            <button type="button" class="btn btn-link">Thriller</button>
            <button type="button" class="btn btn-link">Crime</button>
            <button type="button" class="btn btn-link">Fantasy</button>
            <button type="button" class="btn btn-link">Animation</button>
            <button type="button" class="btn btn-link">IMAX</button>
            <button type="button" class="btn btn-link">Comedy</button>
            <button type="button" class="btn btn-link">Mystery</button>
            <button type="button" class="btn btn-link">Children</button>
            <button type="button" class="btn btn-link">Musical</button>
            <button type="button" class="btn btn-link">Others</button>
        </div>
        <div class="row">
            <hr class="col-md-12"/>
        </div>
        <div class="row" style="padding-bottom: 20px">
            <div class="pull-left">
                <div class="btn-group">
                    <label class="radio-inline" style="padding-left: 3em">
                        <input type="radio" name="options" id="pure_rank" checked />
                        pure rank
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="options" id="option2" />
                        rank by time
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="options" id="option3" />
                        rank by evaluation
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="options" id="option4" />
                        rank by others
                    </label>
                </div>
            </div>
            <div class="pull-right">
                <label class="checkbox-inline" style="padding-right: 1em">
                    <input type="checkbox" />
                    not yet watched
                </label>
            </div>
        </div>
        <div id="pages">
            <div id="row1" class="row">
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
            </div>
            <div id="row2" class="row">
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="/img/movies_pic/318.webp" class="img-thumbnail"/>
                        <p>The Shawshank Redemption <strong style="color: #e09015">9.6</strong></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px; margin-top: 30px">
            <a id="more" class="btn btn-link col-md-12">
                more
            </a>
        </div>
        <div class="row">
            <div style="border-top: 1px dashed #ddd; color: #999; padding: 6px 0; overflow: hidden">
                <span style="float: left">© 2005－2018 kunban.com, all rights reserved 阿香煎饼果子有限摊</span>
            </div>
        </div>
    </div>
</body>
</html>