<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/Font-Awesome-4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/login_page/css/htmleaf-demo.css">
        <link rel="stylesheet" type="text/css" href="/css/login_page.css">
        <!--[if IE]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div style="background-color: #00b4ef; padding-top: 10px; padding-bottom: 5px">
            <div class="container" align="center">
                <h1 class="text-left" style="color: #fff; font-size: 36px"><strong>KunBan Movies</strong></h1>
            </div>
        </div>
        <div class="htmleaf-container">
            <div class="demo form-bg" style="padding: 20px 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <form class="form-horizontal" action="#" th:action="@{/login/loginCheck}" th:object="${user}" method="post">
                                <span class="heading">User Login</span>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputEmail3" th:field="*{loginId}" placeholder="User Name">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="form-group help">
                                    <input type="password" class="form-control" id="inputPassword3" th:field="*{password}" placeholder="Password">
                                    <i class="fa fa-lock"></i>
                                    <a href="#" class="fa fa-question-circle"></a>
                                </div>
                                <div class="form-group">
                                    <div class="main-checkbox">
                                        <input type="checkbox" value="None" id="checkbox1" name="check"/>
                                        <label for="checkbox1"></label>
                                    </div>
                                    <span class="text">Remember me</span>
                                    <div style="float: right">
                                        <button type="submit" class="btn btn-default">Login</button>
                                    </div>
                                    <div style="padding-right: 10px; float: right">
                                        <button type="button" class="btn btn-default">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>