<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/movie_detail.css"/>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/movie_detail.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script>
            var initStar;
            $(function () {
                initStar = $("#rating-star").val();
                // if (initStar == null || initStar == "") {
                //     alert("initStar is null");
                // } else {
                //     alert(initStar);
                // }
            });
        </script>
        <!-- default styles -->
        <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">-->
        <link href="/bootstrap-star-rating/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />

        <!-- optionally if you need to use a theme, then include the theme CSS file as mentioned below -->
        <link href="/bootstrap-star-rating/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

        <!-- important mandatory libraries -->
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>-->
        <script src="/bootstrap-star-rating/js/star-rating.js" type="text/javascript"></script>

        <!-- optionally if you need to use a theme, then include the theme JS file as mentioned below -->
        <script src="/bootstrap-star-rating/themes/krajee-svg/theme.js"></script>

        <!-- optionally if you need translation for your language then include locale file as mentioned below -->
        <!--<script src="path/to/js/locales/<lang>.js"></script>-->

        <title>Title</title>
    </head>
    <body>
        <div style="background-color: #00b4ef; padding-top: 10px; padding-bottom: 5px">
            <div class="container" align="center">
                <h1 class="text-left" style="color: #fff; font-size: 36px"><strong>KunBan Movies</strong></h1>
                <button id="log_out" class="btn btn-link" style="float: right; color: #ffff" onclick="window.location.href='/logout'">Logout</button>
                <label th:text="${session.user}" style="float: right; color: #ffff"></label>
                <input id="movieId" th:value="${movieDetail.movieId}" type="hidden">
            </div>
        </div>
        <div class="container" align="center">
            <h1>
                <span th:text="${movieDetail.en_title} + ' ' + ${movieDetail.cn_title}"></span>
                <span class="year" th:text="'(' + ${movieDetail.published_year} + ')'"></span>
            </h1>
            <div class="row" align="center">
                <div class="col-md-4">
                    <img th:src="'/img/movies_pic/' + ${movieDetail.movieId} + '.webp'" class="img-thumbnail" style="float: right"/>
                </div>
                <div class="col-md-4" align="left">
                    <div class="row">
                        <span>English Name:</span>
                        <span th:text="${movieDetail.en_title}"></span>
                    </div>
                    <div class="row">
                        <span>Chinese Name:</span>
                        <span th:text="${movieDetail.cn_title}"></span>
                    </div>
                    <div class="row">
                        <span>Year:</span>
                        <span th:text="${movieDetail.published_year}"></span>
                    </div>
                    <div class="row">
                        <span>Summary:</span>
                        <span th:text="${movieDetail.summary}"></span>
                    </div>
                    <div class="row">
                        <span>DouBan link:</span>
                        <a th:href="${movieDetail.page_link}" th:text="${movieDetail.page_link}" target="_blank"></a>
                    </div>
                </div>
                <div class="col-md-4" style="border-left: 1px solid #eaeaea" align="left">
                    <div class="row">
                        <span style="font-size: 12px; color: #9b9b9b">KunBan Rating:</span>
                    </div>
                    <div class="row">
                        <span><strong style="font-size: 28px; color: #494949; font-weight: normal" th:text="${avg2}"></strong></span>
                        <!--<label for="input-7-xs" class="control-label">Extra Small Rating</label>-->
                        <input type="hidden" id="input-7-xs" class="rating" th:value="${avg2} * 0.5" data-min="0" data-max="5" data-step="0.5" data-size="xs">
                    </div>
                </div>
            </div>
            <div class="row" align="left" style="margin-left: 65px; margin-top: 20px">
                <div class="col-md-4">
                    Rating
                </div>
                <div class="col-md-8">
                </div>
            </div>
            <div class="row" align="left" style="margin-left: 65px">
                <div class="col-md-4">
                    <input id="rating-star" type="hidden" class="rating" th:value="${user_star}" data-min="0" data-max="5" data-step="0.5" data-size="xs">
                </div>
                <div class="col-md-8">
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div style="border-top: 1px dashed #ddd; color: #999; padding: 6px 0; overflow: hidden">
                    <span style="float: left">© 2005－2018 kunban.com, all rights reserved 阿香煎饼果子有限摊</span>
                </div>
            </div>
        </div>
        <!--<footer class="footer navbar-fixed-bottom ">-->
        <!--<footer class="footer">-->
            <!--<div class="container">-->
                <!--<div style="border-top: 1px dashed #ddd; color: #999; padding: 6px 0; overflow: hidden">-->
                    <!--<span style="float: left">© 2005－2018 kunban.com, all rights reserved 阿香煎饼果子有限摊</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</footer>-->

    </body>
</html>